/*navigation bar*/
.portfolio-navigation {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-size: x-large;
  font-family: Arial;
  font-weight: bold;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}

